<% content_for :current_page do %>
  <%= page_indicator "Feature #{@feature}" %>
<% end%>

<%= render partial: "title", feature: @feature %>

<div class="row">
  <div class="col s12">
    <div class="row">
      <h5 class="header blue-text"><i class="material-icons">subject</i> List of users</h5>
    </div>

    <div class="row align-center">
      <div class="col s2">
        <%= link_to "/feature/#{@feature}", class: 'btn deep-purple' do %>
          Feature <i class="material-icons btn-icon">subject</i>
        <% end %>
      </div>
      <div class="col s2">
        <%= link_to "/feature/#{@feature}/search", class: 'btn deep-purple' do %>
          Search <i class="material-icons btn-icon">search</i>
        <% end %>
      </div>
      <div class="col s2">
        <%= link_to "/feature/#{@feature}/report", class: "btn deep-purple" do %>
          Report <i class="material-icons btn-icon">file_download</i>
        <% end %>
      </div>
    </div>

    <div class="row">
      <% unless @has_users %>
        <div class="col s12">
          <div class="chip">
            <span>Ops... this feature has no users. Add users to this feature to start using IfMan!</span>
          </div>
        </div>
      <% end %>
      <% @users.each do |user| %>
        <div class="chip">
          <span class="user"><%= user %></span>
          <i class="close material-icons delete-user" onclick="removal(this)">close</i>
        </div>
      <% end %>
    </div>
  </div>
</div>
