<% content_for :current_page do %>
  <%= page_indicator "Feature #{@feature}" %>
<% end%>

<h5 class="header deep-purple-text" id="feature"><%= @feature %></h5>
<%= link_to "Back", feature_path(@feature), class: "collection-item blue-text" %>

<div class="row">
  <div class="col s12">
    <div class='card'>
      <div class='card-action'>
        <div class="row">
          <%= form_tag search_user_path(@feature, 'search'), id: 'search-user-form', remote: true do %>
          <h5 class="header blue-text"><i class="material-icons">search</i> Search Users</h5>
          <div class="col s10">
            <%= text_field_tag 'search', nil %>
          </div>
          <div class="col s2">
            <%= submit_tag 'Search', class: 'btn deep-purple', id: 'search-user' %>
          </div>
          <% end %>
          <div class="col s12" id='user-list'>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
