<% content_for :current_page do %>
  <%= page_indicator "New Feature" %>
<% end%>

<%= form_tag create_feature_path do%>

  <% if flash[:error] %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <%= flash[:error] %>
    </div>
  <% end %>

  <h5 class="header deep-purple-text"><i class="material-icons">playlist_add</i> Create New Feature </h5>

  <br>

  <div class="input-field">
    <%= label_tag 'Feature Name' %>
    <%= text_field_tag 'feature', nil, required: true %>
  </div>

  <br>

  <%= submit_tag 'Create', class: 'btn right deep-purple' %>

<% end %>
