<% content_for :current_page do %>
  <%= page_indicator "New Feature" %>
<% end%>

<%= form_tag create_feature_path do%>

  <% if flash[:error] %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <%= flash[:error] %>
    </div>
  <% end %>

  <h5 class="header deep-purple-text"><i class="material-icons">playlist_add</i> Create New Feature </h5>

  <br>

  <div class="input-field">
    <%= label_tag 'Feature Name' %>
    <%= text_field_tag 'feature', nil, required: true %>
  </div>

  <%= label_tag 'percentage', "Percentage" %>
  <div class="row">
    <div class="col s11">
      <div class="input-field">
        <p class="range-field">
          <input type="range" id="percentage" name="percentage" min="0" max="100" onchange="range.value=value"/>
        </p>
      </div>
    </div>
    <div class="col s1">
      <div class="chip">
        <output id="range"> 50 </output>
      </div>
    </div>
  </div>

  <div class="input-field">
    <%= label_tag 'Users' %>
    <%= text_field_tag 'users', nil %>
  </div>

  <br>

  <%= submit_tag 'Create', class: 'btn right deep-purple' %>

<% end %>
