<% content_for :current_page do %>
  <%= page_indicator "New Feature" %>
<% end%>

<%= form_tag create_feature_path do%>

  <% if flash[:error] %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <%= flash[:error] %>
    </div>
  <% end %>

  <h1> Create New Feature </h1>

  <div class="form-group">
    <%= label_tag 'Feature Name' %>
    <%= text_field_tag 'feature', nil, class: 'form-control', required: true %>
  </div>

  <%= label_tag 'percentage', "Percentage" %>
  <div class="form-group text-center">
    <%= text_field_tag 'percentage', nil, data: { "slider-min" => 0, "slider-max" => 100, "slider-step" => 1, "slider-value" => @percentage }, class: 'form-control' %>
    &nbsp;&nbsp;&nbsp;&nbsp;Current percentage: <span id="current-percentage"><%= @percentage || 0 %></span>%
  </div>

  <div class="form-group">
    <%= label_tag 'Users' %>
    <%= text_field_tag 'users', nil, class: 'form-control' %>
  </div>

  <%= submit_tag 'Create', class: 'btn btn-primary' %>

<% end %>
