<% content_for :current_page do %>
  <%= page_indicator "New Feature" %>
<% end%>

<%= form_tag create_feature_path do%>

  <h1> Create new feature </h1>

  <div class="form-group">
    <%= label_tag 'Feature Name' %>
    <%= text_field_tag 'feature', nil, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= label_tag 'Percentage' %>
    <%= text_field_tag 'percentage', nil, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= label_tag 'Users' %>
    <%= text_field_tag 'users', nil, class: 'form-control' %>
  </div>

  <%= submit_tag 'Create', class: 'btn btn-primary' %>

<% end %>
