<% content_for :current_page do %>
  <%= page_indicator "Feature #{@feature}" %>
<% end%>

<%= render partial: "title", feature: @feature %>

<div class="row">
  <div class="col s12">
    <div class="row">
      <%= form_tag "#", :onSubmit => "return false" do %>
        <h5 class="header blue-text"><i class="material-icons">search</i> Search Users</h5>
        <div class="input-field col s10">
          <%= label_tag 'Search for specific user' %>
          <%= text_field_tag 'search', nil %>
        </div>
        <div class="col s2">
          <%= button_tag class: 'btn deep-purple', id: 'search-user' do %>
            search <i class="material-icons btn-icon">search</i>
          <% end %>
        </div>
      <% end %>
      <div class="col s12" id='user-list'>
      </div>
    </div>
  </div>
</div>
