<% content_for :current_page do %>
  <%= page_indicator "Feature #{@feature}" %>
<% end%>

<h5 class="header deep-purple-text" id="feature"><%= @feature %></h5>

<div class="col s12">
  <%= form_tag update_feature_percentage_path(@feature), method: :put, remote: true do %>
    <h5 class="header blue-text"><i class="material-icons">insert_chart</i> Percentage</h5>
    <div class="col s9">
      <p class="range-field">
        <input type="range" id="percentage" name="percentage" min="0" max="100" value="<%= @percentage %>" onchange="range.value=value"/>
      </p>
    </div>
    <div class="col s1">
      <div class="chip">
        <output id="range"> <%= @percentage %> </output>
      </div>
    </div>
    <div class="col s2">
      <%= submit_tag 'save', class: 'btn deep-purple', id: 'update-percentage' %>
    </div>
  <% end %>
</div>

<div class="col s12">
  <%= form_tag add_feature_user_path(@feature), id: 'add-user-form', remote: true do %>
    <h5 class="header blue-text"><i class="material-icons">supervisor_account</i> Users</h5>
    <div class="col s10">
        <%= text_field_tag 'user', nil %>
    </div>
    <div class="col s2">
      <%= submit_tag 'add', class: 'btn deep-purple', id: 'add-user' %>
    </div>
  <% end %>
</div>

<% if @cardinality > 20 %>
  <div class="row">
    <div class="col s12">
      <div class='card'>
        <div class='card-content deep-purple lighten-1'>
          <p class="white-text">
            <i class="material-icons">error</i>
            Ops... this feature has <b><%= @cardinality %></b> users.
            For better experience, please search for a specific user.
          </p>
        </div>
        <div class='card-action'>
          <div class="row">
            <h5 class="header blue-text"><i class="material-icons">search</i> Search Users</h5>
            <div class="col s10">
              <%= text_field_tag 'search', nil %>
            </div>
            <div class="col s2">
              <a class="btn deep-purple" id="search-user">search</a>
            </div>

            <div class="col s12" id='user-list'>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% else %>
  <div class="col s12">
    <% @users.each do |user| %>
      <div class="chip">
        <span class="user"><%= user %></span>
        <i class="close material-icons delete-user" onclick="removal(this)">close</i>
      </div>
    <% end %>
  </div>
<% end %>
