<% content_for :current_page do %>
  <%= page_indicator "Feature #{@feature}" %>
<% end%>

<%= render partial: "title", feature: @feature %>

<div class="col s12">
  <%= form_tag update_feature_percentage_path(@feature), method: :put, remote: true do %>
    <h5 class="header blue-text"><i class="material-icons">insert_chart</i> Percentage</h5>
    <div class="col s9">
      <p class="range-field">
        <input type="range" id="percentage" name="percentage" min="0" max="100" value="<%= @percentage %>" onchange="range.value=value"/>
      </p>
    </div>
    <div class="col s1">
      <div class="chip">
        <output id="range"> <%= @percentage %> </output>
      </div>
    </div>
    <div class="col s2">
      <%= button_tag :submit, class: 'btn deep-purple', id: 'update-percentage' do %>
        save <i class="material-icons btn-icon">save</i>
      <% end %>
    </div>
  <% end %>
</div>

<div class="col s12">
  <%= form_tag add_feature_user_path(@feature), id: 'add-user-form', remote: true do %>
    <h5 class="header blue-text"><i class="material-icons">supervisor_account</i> Users</h5>
    <div class="input-field col s10">
        <%= label_tag 'user1, user2, user3,...' %>
        <%= text_field_tag 'user', nil %>
    </div>
    <div class="col s2">
      <%= button_tag :submit, class: 'btn deep-purple', id: 'add-user' do %>
        add <i class="material-icons btn-icon">add</i>
      <% end %>
    </div>
  <% end %>
  <% if flash[:notice] %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <%= flash.notice() %>
    </div>
  <% end %>
</div>

<%= render partial: "search_button", feature: @feature %>
