<% content_for :current_page do %>
  <%= page_indicator "Feature #{@feature}" %>
<% end%>

<h5 class="header blue-text"><%= @feature %></h5>

<div class="col s12">
  <%= form_tag update_feature_percentage_path(@feature), method: :put, remote: true do %>
    <h5 class="header blue-text">Percentage</h5>
    <div class="col s10">
      <p class="range-field">
        <input type="range" id="percentage" min="0" max="100" value="<%= @percentage %>"/>
      </p>
    </div>
    <div class="col s2">
      <%= submit_tag 'Save', class: 'btn' %>
    </div>
  <% end %>
</div>

<div class="col s12">
  <%= form_tag add_feature_user_path(@feature), id: 'add-user-form', remote: true do %>
    <h5 class="header blue-text">Users</h5>
    <div class="col s10">
        <%= text_field_tag 'user', nil %>
    </div>
    <div class="col s2">
      <%= submit_tag 'Add', class: 'btn' %>
    </div>
  <% end %>
</div>

<div class="col s12">
  <% @users.each do |user| %>
    <div class="chip">
      <%= user %><i class="close material-icons">close</i>
    </div>
  <% end %>
</div>
