<% content_for :current_page do %>
  <%= page_indicator "Feature #{@feature}" %>
<% end%>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3><%= @feature %></h3>
  </div>
  <div class="panel-body">

    <h4>Percentage</h4>
    <%= form_tag update_feature_percentage_path(@feature), method: :put, remote: true do %>
      <div class="form-group">
        <%= text_field_tag :percentage, nil, data: { "slider-min" => 0, "slider-max" => 100, "slider-step" => 1, "slider-value" => @percentage } %>
        &nbsp;&nbsp;&nbsp;&nbsp;Current percentage: <span id="current-percentage"><%= @percentage || 0 %></span>%
      </div>
      <%= submit_tag 'Save', class: 'btn btn-primary' %>
    <% end %>

    <h4>Users</h4>
    <%= form_tag add_feature_user_path(@feature), id: 'add-user-form',remote: true do %>
      <div class="form-group">
        <%= text_field_tag 'user', nil, class: 'form-control' %>
      </div>
      <%= submit_tag 'Add', class: 'btn btn-primary' %>
    <% end %>

    <table class="table table-striped table-bordered form-table">
      <tbody id="users-content">
        <% @users.each do |user| %>
          <tr>
            <td><%= user %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
