<h1> <%= @feature %> </h1>

<%= form_tag update_feature_percentage_path(@feature), method: :put, remote: true do %>

  <h2>Percentage</h2>

  <div class="range">
    <input type="range" name="range" min="1" max="100" value="<%= @percentage %>" onchange="range.value=value">
    <output id="range"><%= @percentage %></output>
  </div>

  <%= submit_tag 'Save', class: 'btn btn-primary' %>

<% end %>

<%= form_tag add_feature_user_path(@feature), remote: true do %>

  <h2>Users</h2>

  <div class="form-group">
    <%= text_field_tag 'user', nil, class: 'form-control' %>
    <%= submit_tag 'Add', class: 'btn btn-primary' %>
  </div>

  <table class="table table-striped table-bordered">
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= user %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
