<% content_for :current_page do %>
  <%= page_indicator "Dashboard" %>
<% end%>

<div class="row">
  <h5 class="header deep-purple-text"><i class="material-icons">subject</i> Your Features </h5>
</div>
<div class="row">
  <div class="collection">
    <% @features.uniq.each do |feature| %>
      <%= link_to destroy_feature_path(feature), data: { confirm: "Are you sure want to delete feature '#{feature}'?" }, method: :delete, remote: true, class: "btn-flat waves-effect waves-light right blue-text" do %>
        <i class="material-icons">delete</i>
      <% end %>
      <%= link_to feature_list_path(feature), class: "btn-flat waves-effect waves-light right blue-text" do %>
        <i class="material-icons">list</i>
      <% end %>
      <%= link_to feature_search_path(feature), class: "btn-flat waves-effect waves-light right blue-text" do %>
        <i class="material-icons">search</i>
      <% end %>
      <%= link_to "#{feature}", feature_path(feature), class: "collection-item blue-text" %>
    <% end %>
  </div>
</div>
<div class="row">
  <%= link_to ("<i class=\"material-icons\">add</i>").html_safe, new_feature_path, class: "btn-floating waves-effect waves-light deep-purple right-align right" %>
</div>
