<div class="col-md-10">

  <%= image_tag("ifman", class: "center-block") %>

  <%= form_tag('/login') do %>

    <% if flash[:error] %>
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <%= flash[:error] %>
      </div>
    <% end %>

    <div class="input-field">
      <%= label_tag 'Redis URL' %>
      <%= text_field_tag 'user', nil, required: true %>
    </div>

    <div class="input-field">
      <%= label_tag 'password' %>
      <%= password_field_tag 'password', nil, required: true %>
    </div>

    <%= submit_tag 'Login', class: 'btn right deep-purple' %>
  <% end %>
</div>
