<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/assets/materialize.min.css"  media="screen,projection"/>
    <script src="/assets/materialize.min.js"></script>

    <title><%= content_for?(:title) ? yield(:title) : "Ifman" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <header>
      <nav>
        <div class="nav-wrapper container">
          <div class="col s12">
            <a href="/dashboard" class="breadcrumb">IFMAN</a>
            <% if content_for?(:current_page) %>
              <a href="#!" class="breadcrumb"><%= content_for?(:current_page) ? yield(:current_page) : "" %></a>
              <a href="/" class="breadcumb right"><i class="material-icons">power_settings_new</i></a>
            <% end %>
          </div>
        </div>
      </nav>
    </header>

    <main class="section no-pad-bot">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-6">
            <%= yield %>
          </div>
          <div class="col-md-3">
          </div>
        </div>
      </div>
    </main>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">IfMan</h5>
            <p class="grey-text text-lighten-4">Use this Super-Hero to manage your features. IfMan works together with Curtain.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Checkout Curtain for</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="http://github.com/moip/jcurtain">Java</a></li>
              <li><a class="grey-text text-lighten-3" href="http://github.com/moip/rcurtain">Ruby</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        &copy; Moip 2018
        <a class="grey-text text-lighten-4 right" href="http://moip.com.br">Moip</a>
        </div>
      </div>
    </footer>

    <%= javascript_include_tag "application" %>
  </body>
</html>
